html,
body {
	padding: 0;
	margin: 0;
	color: var(--white);
	font-family: "Noto Sans", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-hover: #AAA9A9;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #6140E6;
	--orange: #FC836D;
	--red: #DE0000;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}
